/*

SETTINGS

*/
:root{
    --color-alpha: #de4831;
    --color-beta: #e1decb;
    --color-dark: #221e21;

    --gutter: 24px;
}

/*

ELEMENTS

*/
body, 
html{
    /* Positioning */
    /* Box Model */
    /* Fonts */
    font-family: 'Sarabun', sans-serif;
    font-size: 17px;
    line-height: 1.6;
    color: var(--color-dark);
    /* Appearance */
    /* Other styles */
    /* ctrl+k+c */
    /* ctrl+k+u is upper case en ctrl+k+l is lower case */
}
/*

OBJECTS

*/
.o-grid{
    display: grid;
    gap: calc(var(--gutter)*2);
}

/*

COMPONENTS

*/

.c-content{
    height: 100vh;
    overflow-x: auto;
}

.c-menu__list{
    padding: 0;
    list-style: none;
    margin: 0 0 calc(var(--gutter)*3);
}

.c-menu__item{
    
}

.c-menu__link{
    all: unset;

    color: var(--color-alpha);
    font-size: 1rem;
    font-weight: 600;

    will-change: opacity;
    transition: opacity 200ms ease-out;
    opacity: .7;

    cursor: pointer;
}

.c-menu__link:hover{
    opacity: 1;
}

.c-menu__title{
    margin-bottom: 0;

    font-size: .95rem;
    text-transform: uppercase;
    
    opacity: .7;
}

.c-sidebar{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: var(--gutter);

    background-color: var(--color-beta);

    overflow-x: auto;
}

.c-sidebar-header{
    display: flex;
    align-items: center;
}

.c-sidebar-header__image{
    max-height: var(--gutter);
}

.c-sidebar-header__title{
    font-size: 1rem;
    margin-left: calc(var(--gutter)/2);
}

.c-sidebar-menu{

}

.c-sidebar-counter{
    /* Fonts */
    font-size: .9rem;
    font-weight: 600;
}

/*

UTILITIES

*/

.u-grid-main-layout{
    grid-template-columns: 350px 1fr;
    min-height: 100vh;
}

.u-color-alpha{
    color: var(--color-alpha);
}

/*

SETTINGS

*/
